<div style="width: 200px; background-color: var(--neutral-layer-2); padding: 10px;">
    <a href="/">
        Home
    </a>
    <a href="/settings">
        Settings
    </a>
</div>

@code {
    private static Icon MailInbox(bool active = false) =>
        active ? new Icons.Filled.Size24.MailInbox()
               : new Icons.Regular.Size24.MailInbox();

    private static Icon SettingsIcon(bool active = false) =>
        active ? new Icons.Filled.Size24.Settings()
               : new Icons.Regular.Size24.Settings();
}
